:root {

    /* Colors: */
    --blanco: #FFFFFF;
    --amarillo: #F4D37B;
    --azulclaro: #1F2233;
    --azuloscuro: #121522;
    
    /* Font/text values */
    --unnamed-font-family-gotham: Gotham;
    --unnamed-font-family-rocket-clouds-demo: Rocket Clouds DEMO;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-normal: normal;

    --unnamed-font-size-30: 30px;
    --unnamed-font-size-35: 35px;
    --unnamed-font-size-40: 40px;
    --unnamed-font-size-70: 70px;

    --unnamed-character-spacing-0: 0px;

    --unnamed-line-spacing-36: 36px;
    --unnamed-line-spacing-42: 42px;
    --unnamed-line-spacing-46: 46px;
    --unnamed-line-spacing-49: 49px;
    --unnamed-line-spacing-63: 63px;
    --unnamed-line-spacing-65: 65px;
    }
    
    /* Styles - var= variantes*/

    .menu-navegacion{
        background-color: var(--azuloscuro);
        opacity: 100%;
        display: flex; /* los iconos en una misma linea*/
        justify-content: space-between; /* los iconos quedan de lado a lado*/
        align-items: center; /*en el centro del background*/
        padding: 30px 100px; /*borde entre cosas*/
        position: fixed; /*para hacer scrul*/
        left: 0;
        top: 0;
        right: 0;
    }
    /*.menu-navegacion{
        background-color: var(--azuloscuro);
        opacity: 10%;
    }*/
    .menu-link {
        font-family: var(--unnamed-font-family-gotham);
        font-weight: var(--unnamed-font-weight-bold);
        font-size: var(--unnamed-font-size-35);
        color: var(--blanco);
        text-decoration: none;/* para quitar subrayado link*/
        display: inline-block; /*en linea*/
        margin-left: 60px;
        opacity: 100%;
        }
    .menu-link:hover{
        color: var(--amarillo);
    }
    
    h1 {
        font-family: var(--unnamed-font-family-gotham);
        font-weight: var(--unnamed-font-weight-bold);
        font-size: var(--unnamed-font-size-55);
        line-height: var(--unnamed-line-spacing-63);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--amarillo);
        }

    /*------------------------------------------------------------*/    

    .page{
        background-color: var(--azuloscuro);
        padding: 100px;
    }
        
    h2 {
    font-family: var(--unnamed-font-family-gotham);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-40);
    line-height: var(--unnamed-line-spacing-46);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--amarillo);
    
    

    }
  

    body {/* p */
    font-family: var(--unnamed-font-family-gotham);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-35);
    line-height: var(--unnamed-line-spacing-42);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--blanco);
    background-color: var(--azulclaro);
    }



    footer {
        background-color: var(--azuloscuro);
        color: var(--blanco);
        display: flex; /* los iconos en una misma linea*/
        justify-content: space-between; /* los iconos quedan de lado a lado*/
        align-items: center; /*en el centro del background*/
        
        }
        

    h3{
        font-family: var(--unnamed-font-family-gotham);
        font-weight: var(--unnamed-font-weight-normal);
        font-size: var(--unnamed-font-size-30);
        color: var(--blanco);
        padding: 28px 170px 0px 300px; 
    }  
    
    
    .box1{
        
        padding: 5px 900px 5px 10px;
     
        margin-bottom: 60px;
        float:left;
        top: 1000;
       width: 1000px;
        height: 600px;        
       
    }
    .box2{
        padding: 5px 10px 5px 10px;
        margin-top: 60px;
        margin-bottom: 60px;
        width: 10;
        
    }

    h4 {
font-family: var(--unnamed-font-family-rocket-clouds-demo);
font-style: var(--unnamed-font-style-normal);
font-size: var(--unnamed-font-size-70);
line-height: var(--unnamed-line-spacing-46);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--amarillo);
}

.imgenes{

}

img.alinia-texto{
    vertical-align: text-top;
}

.page-bibliografia{
    background-color: var(--azuloscuro);
    padding: 100px;
    align-items: center;
    display: inline-block; /*en linea*/
}